{% extends 'pressforms/layout.html' %}
{% load static %}

{% block title %}
  Прессформы
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'pressforms/css/history.css' %}">
{% endblock %}

{% block content %}
<div class="page_name">
   <h3> История </h3>
</div>
{{years}}
<div class="body">
    {% if years %}
        <div class="flex-row flex-nowrap">
            {% for current_year in table %}
                {% if current_year.count_col == 1 %}
                    <div class="col-header year-card"> 
                        {{current_year.year}} год
                        <br> 
                        <div style="font-size: small;">Изготовлено: {{current_year.dcount}} п/ф</div>
                    </div>
                {% elif current_year.count_col == 2 %}
                    <div class="col-header2 year-card"> 
                        {{current_year.year}} год 
                        <br>
                        <div style="font-size: small;">Изготовлено: {{current_year.dcount}} п/ф</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
<!--        <div class="flex-row flex-nowrap">
            {% for current_year in table %}
                {% for current_list_pf in current_year.list_pf %}
                    <div class="col-body">
                    
                        {% for pressform in current_list_pf %}
                            {% if pressform.type == 1 %}
                                <div class="card-main" id="type_pf_our">{{pressform.name}}</div>
                            {% elif pressform.type == 2 %}
                                <div class="card-main" id="type_pf_partner">{{pressform.name}}</div>
                            {% elif pressform.type == 3 %}
                                <div class="card-main" id="type_pf_import">{{pressform.name}}</div>
                            {% else %}
                                <div class="card-main">{{pressform.name}}</div>
                            {% endif %}
                        {% endfor %}                    
                    </div>
                {% endfor %}
            {% endfor %}
        </div>-->
    {% else %}
        Данных нет
    {% endif %}
</div>
<div class="footer">
    <table>
      <tr>
        <td><div class="square footer-td" id="type_pf_our"></div></td>
        <td>Европартнер</td>
        <td><div class="square footer-td" id="type_pf_partner"></div></td>
        <td>Клиент</td>
        <td><div class="square footer-td" id="type_pf_import"></div></td>
        <td>Импорт</td>
      </tr>
    </table>  
  </div>
{% endblock %}
