{% extends 'pressforms/layout.html' %}
{% load static %}

{% block title %}
  Медиа файлы
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'pressforms/css/media.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
{% endblock %}

{% block content %}
<div class="fotos">
            <div id="owl-demo" class="owl-carousel owl-theme">
                {% for cur_file in foto_files %}
                    <div class="item">
                        <img src="{{cur_file.file.url}}">
                    </div>
                {%endfor%}
            </div>
</div>

<script>
    
    var callback = location.search.substring(1);
    document.onclick = document.onkeydown = function(){
        if (callback !== "") location.href = callback;
    };

    setInterval(function(){
        window.location.reload();
    }, 3600000);


    $(function() {
        // Owl Carousel
        var owl = $(".owl-carousel");
        owl.owlCarousel({
            lazyLoad: true,
            navigation : true, // Show next and prev buttons
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:300000,
            autoplayHoverPause:false,
            slideSpeed : 300,
            paginationSpeed : 400,
            autoHeight:true,
            items : 1, 
            itemsDesktop : false,
            itemsDesktopSmall : false,
            itemsTablet: false,
            itemsMobile : false,
        });
        });
</script>

{% endblock %}