{% extends 'pressforms/layout.html' %}
{% load static %}

{% block title %}
  Прессформы
{% endblock %}
{% block link %}
  <link rel="stylesheet" href="{% static 'pressforms/css/list.css' %}">
  <script src="{% static 'main/js/media_carousel.js' %}"></script>
{% endblock %}
{% block content %}

<div class="main_head">
  <div class="col-12 align-left">
    <i id="search-icon" class="fas fa-search"></i>
    <input id="user-input" placeholder="Поиск">

    <div class="btn_add">
      <a href="{% url 'pressforms:create' %}" class="btn btn-success">Добавить</a>
    </div>
  </div>  
</div>

<div class="grid">
  <table class="table">
      <thead>
        <tr>
          <th class="th_col_small" scope="col">Артикул</th>
          <th class="th_col_name" scope="col">Наименование</th>
          <th class="th_col_small" scope="col">Год <br> производства</th>
          <th class="th_col_small" scope="col">Тип</th>
          <th class="th_col_small" scope="col">Статус</th>
          <th class="th_col_small" scope="col">Карточка</th>
        </tr>
      </thead>
      <tbody id="replaceable-content">
        {% include 'pressforms/pressforms_list_partial.html' %}
      </tbody>
  </table>
 </div>

 <script>
  const user_input = $("#user-input")
  const search_icon = $('#search-icon')
  const artists_div = $('#replaceable-content')
  const endpoint = '/pressforms/'
  const delay_by_in_ms = 700
  let scheduled_function = false

  let ajax_call = function (endpoint, request_parameters) {
      $.getJSON(endpoint, request_parameters)
          .done(response => {
              // fade out the artists_div, then:
              artists_div.fadeTo('slow', 0).promise().then(() => {
                  // replace the HTML contents
                  artists_div.html(response['html_from_view'])
                  // fade-in the div with new contents
                  artists_div.fadeTo('slow', 1)
                  // stop animating search icon
                  search_icon.removeClass('blink')
              })
          })
  }


  user_input.on('keyup', function () {

      const request_parameters = {
          q: $(this).val() // value of user_input: the HTML element with ID user-input
      }

      // start animating the search icon with the CSS class
      search_icon.addClass('blink')

      // if scheduled_function is NOT false, cancel the execution of the function
      if (scheduled_function) {
          clearTimeout(scheduled_function)
      }

      // setTimeout returns the ID of the function to be executed
      scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
  })
 </script>
{% endblock %}