{% if list_progress %}
    {% for progress in list_progress %}
        <tr>
          {% if progress.pf.shield %}
            <td class="col_property_pressform">V</td>
          {% else %}
            <td></td>
          {% endif %}
          <td class="col_property_pressform">{{ forloop.counter }}</td>
          {% if progress.pf.type == 1 %}
            {% if progress.pf.status == 2 %}
              <td id="type_pf_our_ready">{{progress.pf.name}}</td>
            {% else %}
              <td id="type_pf_our">{{progress.pf.name}}</td>
            {% endif %}
          {% elif progress.pf.type == 2 %}
            <td id="type_pf_partner">{{progress.pf.name}}</td>
          {% elif progress.pf.type == 3 %}
            <td id="type_pf_import">{{progress.pf.name}}</td>
          {% else %}
            <td>{{progress.pf.name}}</td>
          {% endif %}
          <td class="col_property_pressform">{{progress.pf.assembly}}</td>
          {% for el in progress.list_works %}
          <td class="col_work_progress" data-date_finish="{{el.date_finish}}" data-work-name="{{el.work.name}}"
            data-pressform-name="{{progress.pf.name}}" data-work-id="{{el.work.id}}" data-week="{{el.week}}"
            data-progress="{{el.progress}}" data-pressform-id="{{progress.pf.id}}">
            <div class="cell_progress" onclick="selectProgress(this)">
              {% if el.progress == 1 %}
                <div class="circle background_green">
              {% elif el.progress == 2 %}
                <div class="circle background_blue">
              {% elif el.progress == 3 %}
                <div class="circle background_yellow">
              {% elif el.progress == 4 %}
                <div class="circle background_red">
              {% else %}
                <div class="circle background_grey">
              {% endif %}
              {% if el.week_name != '0' %}
                {{el.week_name|linebreaksbr}}
              {% endif %}
              </div>
            </div>
          </td>
          {% endfor %}
        </tr>
    {% endfor %}
{% else %}
    {
      <tr>
        <td>ДАННЫХ НЕТ</td>
      </tr>
    }
{% endif %} 