{% extends 'pressforms/layout.html' %}
{% load static %}

{% block title %}
Прессформы в производстве
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'pressforms/css/production.css' %}">
<script src="{% static 'pressforms/js/jquery.cookie.js' %}"></script>
{% endblock %}

{% block content %}
<script>0</script>
<div class="custom-cm">
  <div class="custom-cm-close" onclick="closeContextMenu()">Закрыть X</div>
  <div class="custom-cm__item" onclick="selectOperation(0)">
    <div class="marker background_grey"> </div>
    Пусто
  </div>
  <div class="custom-cm__item" onclick="selectOperation(1)">
    <div class="marker background_green"> </div>
    Выполнено
  </div>
  <div class="custom-cm__item" onclick="selectOperation(2)">
    <div class="marker background_blue"> </div>
    Не требует выполнения
  </div>
  <div class="custom-cm__item" onclick="selectOperation(3)">
    <div class="marker background_yellow"> </div>
    В работе
  </div>
  <div class="custom-cm__item" onclick="selectOperation(4)">
    <div class="marker background_red"> </div>
    Не выполнено
  </div>
  <div class="custom-cm__divider">

  </div>
  <div class="custom-cm__item">
    <label for="week">Неделя:</label>
    <input type="number" step="1" min="0" max="55" value="0" id="week" name="week" onchange="changeWeek()">
  </div>
  <div class="custom-cm__item">
    <label for="datepicker">Дата завершения:</label>
    <input type="text" id="date_finish" name="date_finish" style="width: 120px;" autocomplete="off"
      onchange="changeDateFinish()">
  </div>
</div>

<div class="body">
  <div class="my_table">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col" rowspan="2" class="col_property_pressform">Шильда</th>
          <th scope="col" rowspan="2" class="col_property_pressform">№</th>
          <th scope="col" rowspan="2" class="col_name_pressform">Наименование</th>
          <th scope="col" rowspan="2" class="col_property_pressform">Сборка</th>
          {% for current_type in typeWorks %}
            {% for el in count_type %}
              {% if current_type.id == el.type %}
                {% if el.dcount == 1 %}
                  <th scope="col" rowspan="2" class="col_work_pressform">{{current_type.name}}</th>
                {% else %}
                  <th scope="col" id="col_work_pressform_group" colspan="{{el.dcount}}">{{current_type.name}}</th>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </tr>
        <tr>
          {% for current_type in typeWorks %}
            {% for el in count_type %}
              {% if current_type.id == el.type and el.dcount != 1 %}
                {% for el in works %}
                  {% if current_type.id == el.type.id %}
                    <th scope="col" class="col_work_pressform">{{el.name}}</th>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </tr>
      </thead>
      <tbody id="replaceable-content">
        {% include 'pressforms/production_list_partial.html' %}
      </tbody>
    </table>
  </div>
</div>
<div class="footer">
  <table class="footer-table">
    <tr>
      <td>
        <div class="square footer-td" id="type_pf_our"></div>
      </td>
      <td>Европартнер (в работе)</td>
      <td>
        <div class="square footer-td" id="type_pf_our_ready"></div>
      </td>
      <td>Европартнер (выполнено)</td>
      <td>
        <div class="square footer-td" id="type_pf_partner"></div>
      </td>
      <td>Клиент</td>
      <td>
        <div class="square footer-td" id="type_pf_import"></div>
      </td>
      <td>Импорт</td>
      <td style="width: 50px;"></td>
      <td>
        <div class="circle background_blue footer-td"></div>
      </td>
      <td>Не требует выполнения</td>
      <td>
        <div class="circle background_yellow footer-td"></div>
      </td>
      <td>В работе</td>
      <td>
        <div class="circle background_red footer-td"></div>
      </td>
      <td>Не выполнено</td>
      <td>
        <div class="circle background_green footer-td"></div>
      </td>
      <td>Выполнено</td>
      <td style="width: 450px;"></td>
      <td><input type="input" id="hiddenField" class="datepicker" /></td>
    </tr>
  </table>
</div>

<script>
  var date_modified = getDateModified();
  const cm = document.querySelector('.custom-cm');
  var parent = null;
  const production_div = $('#replaceable-content')
  const endpoint = '/pressforms/production/'
  const delay_by_in_ms = 300
  let scheduled_function = false

  let ajax_call = function (endpoint) {
      $.getJSON(endpoint)
          .done(response => {
              // спрячем production_div, потом:
              production_div.fadeTo('fast', 0).promise().then(() => {
                  // замени HTML контекст
                  production_div.html(response['html_from_view'])
                  // отобразим html контекст с новыми данными
                  production_div.fadeTo('fast', 1)
              })
          }).then(setDateModified())
  };
 
  // проверка на последние изменения, каждые 5 сек.
  setInterval(function () {
    last_modified = getDateModified();
    if (date_modified < last_modified) {
      updateWindow_ajax();
    }
  }, 5000);

  // обновление страницы
  function updateWindow(){
    window.location.reload();
  }

  // полчение даты последних изменений
  function getDateModified() {
    theUrl = window.location.protocol + "//" + window.location.host + "/pressforms/api/last_modified/";
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", theUrl, false);
    xmlHttp.send(null);
    responseText = xmlHttp.responseText;
    return Date.parse(JSON.parse(responseText)["date_modified"]);
  };

  function setDateModified() {
    date_modified = getDateModified();
  };

  // отображение календаря
  $("#hiddenField").datepicker({
    showOn: "button",
    buttonText: "Календарь",
    showWeek: true,
    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
    dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
    firstDay: 1,
    todayHighlight: 'true',
    weekHeader: '',
  });

  // Док загружен, восстановим текущий скролл из куки
  $(document).ready(function () {
    if ($.cookie("scroll") !== null) {
      $(".my_table").scrollTop($.cookie("scroll"));
    }
  });

  // Сохраняем показания scroll в куки
  window.onbeforeunload = function () {
    $.cookie("scroll", $(".my_table").scrollTop());
  };

  // Сохранение данных
  function selectOperation(value) {
    // установим значение операции
    cm.setAttribute('data-progress', value);
    // получим значения из атрибутов
    pressform_id = cm.getAttribute('data-pressform-id');
    work_id = cm.getAttribute('data-work-id');
    oper = cm.getAttribute('data-progress');
    week = cm.getAttribute('data-week');
    date_finish = cm.getAttribute('data-date_finish');
    
    showContextMenu(false);
    // отправим запрос
    fetch("{% url 'pressforms:operation' %}", {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        pressform_id: pressform_id,
        work_id: work_id,
        oper: oper,
        week: week,
        date_finish: date_finish
      })
    });
    
    updateWindow_ajax();
  };

  function updateWindow_ajax() {
    if (scheduled_function) {
          clearTimeout(scheduled_function)
      }

    // setTimeout returns the ID of the function to be executed
    scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint);
  };

  // Отобразить / спрятать меню
  function showContextMenu(show = true) {
    cm.style.display = show ? 'block' : 'none';
    if (show){
      if (parent != null) parent.style.background = '#ff0000';
    }
    else
    {
      if (parent != null) parent.style.background = '#747473';
    }
  };
  
  // Закрывает меню, по кнопке Закрыть
  function closeContextMenu() {
    showContextMenu(false);
  }

  // Событие установка недели
  function changeWeek() {
    week = document.getElementById('week').value;
    cm.setAttribute('data-week', week);
  };

  // Событие установка дата окончания
  function changeDateFinish() {
    date_finish = document.getElementById('date_finish').value;
    cm.setAttribute('data-date_finish', date_finish);
  };

  // Событие - показать меню операции
  function selectProgress(event) {
    
    showContextMenu(false);

    var e = window.event; // событие
    var el = e.target; // элемент
    parent = el.offsetParent; // родительский элемент
    
    // заполнение переменных
    cm.setAttribute('data-work-id', parent.getAttribute('data-work-id'));
    cm.setAttribute('data-pressform-id', parent.getAttribute('data-pressform-id'));
    cm.setAttribute('data-work-name', parent.getAttribute('data-work-name'));
    cm.setAttribute('data-pressform-name', parent.getAttribute('data-pressform-name'));
    cm.setAttribute('data-week', parent.getAttribute('data-week'));
    cm.setAttribute('data-date_finish', parent.getAttribute('data-date_finish'));
    cm.setAttribute('data-progress', parent.getAttribute('data-progress'));

    // заполним неделю
    document.getElementById('week').value = parent.getAttribute('data-week');

    // заполним дату выполнения
    document.getElementById('date_finish').value = parent.getAttribute('data-date_finish');

    e.preventDefault();
    showContextMenu();

    let x = e.x, y = e.clientY,
      winWidth = window.innerWidth,
      winHeight = window.innerHeight,
      cmWidth = cm.offsetWidth,
      cmHeight = cm.offsetHeight;

    x = x > winWidth - cmWidth ? x - 250 : x;
    y = y > winHeight - cmHeight ? winHeight - cmHeight : y;

    cm.style.left = x + 'px';
    cm.style.top = y + 'px';
  }

  // Календарь - выборк даты окончания
  $(function () {
    $('#date_finish').datepicker({
      showWeek: true,
      monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
      firstDay: 1,
      todayHighlight: 'true',
      weekHeader: '',
      dateFormat: "dd.mm.yy",
    });
  });

</script>
{% endblock %}