
.table{
    border-radius: 10px;
    border-spacing: 0;
}

.table th{
    background-color: #efefef;
}

th {
    background: #efefef;
    text-align: center;
    vertical-align: middle;
}

tr {
    text-align: center;
}

.grid {
    margin-left: 15px;
    margin-right: 15px;
}

.th_col_small{
    width: 150px;
}

.table tr{
    vertical-align: middle;
}

.tr_col_name{
    text-align: left;
}

.table tr:nth-child(odd) {
    background: white;
  }

.table tr:nth-child(even) {
    background: rgb(243, 243, 243);
  }

.page_name {
    text-align: center;
    float: left;
    margin-left: 15px;
}

.btn_add {
    float: right;
    margin-right: 15px;
}