{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="">
	<title>Текущее задание на E-50с</title>
	<link rel="stylesheet" href="{% static 'tpa/css/job.css' %}">
</head>
<body>
	<div class="stanok_head">
		<div class="stanok_main stanok_left">
			{{data_json.name}}
		</div>
		<div class="stanok_main stanok_right">
			№{{data_json.number}}
		</div>
	</div>
	<div>
		<div class="product_main">
			<div>
				{{data_json.nom}}
			</div>
			<div>
				{{data_json.color}}
			</div>
		</div>
		<div class = "qr">
			<img src="data:image/jpeg;base64,{{data_json.barcode}}" width="150">
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<td style="width: 20%">Материал</td>
				<td style="width: 10%">Артикул</td>
				<td style="width: 50%">Наименование</td>
				<td style="width: 10%">На 1 шт., гр</td>
				<td style="width: 10%">%</td>
			</tr>
		</thead>
		<tbody>
			{% for el in data_json.list_materials %}
			<tr>
				<td class="td_left">{{el.material}}</td>
				<td class="td_left">{{el.article}}</td>
				<td class="td_left">{{el.nom}}</td>
				<td class="td_right">{{el.by_pc}}</td>
				<td class="td_right">{% if el.proc == 0 %}  {% else %} {{el.proc}} {% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td class="td_right">Общий вес:</td>
				<td class="td_right">{{data_json.total_weight}}</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</body>
</html>