{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="">
	<title>Текущее задание на E-50с</title>
	<link rel="stylesheet" href="{% static 'tpa/css/job.css' %}">
</head>
<body>
	<div class="stanok_head">
		<div class="stanok_main stanok_left">
			{{data_json.name}}
		</div>
		<div class="stanok_main stanok_right">
			№{{data_json.number}}
		</div>
	</div>
	{% if machine.full_job_description %}
	<div>
		<div class="product_main">
			<div>
				{{data_json.nom}}
			</div>
			<div>
				{{data_json.color}}
			</div>
		</div>
		<div class = "qr">
			<img src="data:image/jpeg;base64,{{data_json.barcode}}" width="150">
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<td style="width: 20%">Материал</td>
				<td style="width: 10%">Артикул</td>
				<td style="width: 50%">Наименование</td>
				<td style="width: 10%">На 1 шт., гр</td>
				<td style="width: 10%">%</td>
			</tr>
		</thead>
		<tbody>
			{% for el in data_json.list_materials %}
			<tr>
				<td class="td_left">{{el.material}}</td>
				<td class="td_left">{{el.article}}</td>
				<td class="td_left">{{el.nom}}</td>
				<td class="td_right">{{el.by_pc}}</td>
				<td class="td_right">{% if el.proc == 0 %}  {% else %} {{el.proc}} {% endif %}</td>
			</tr>
			{% endfor %}
			{% if data_json.water %}
				<td class="td_left"></td>
				<td class="td_left"><img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAA
AARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAALcSURBVEhL5VQ9
bxNBEJ3ds+8r/ghSICYp0gQJUrhASDQRoiUN1CClpACh8CFEGn4ACiIRAip+BHJD
iwgNApo0UBCa4IRgSMCJY8fn2+PN3lriyNmmhidPdnM3M2/mzd7S/4Xi/epMcaE6
Y/79K0izDgQSzwoSFSFEBUSz5vFACLP2RXFhfRqez7HNcUBE1IgiOle/PbasHfpg
IIF77/Mh15IvLEllKdADnilkDxWttMPobOPO+HbsmY6BEuVta963RbngSip6ggps
2A85opxz5Lxx64m+HYwurZfdrHzlZWXeyRBZEu74KRVRu0PUCtROK6Dp9bnSigk5
gL4d+La8hSrzBU9SHsZrEdUXPEvvc67Mo5Obxj0VPTuYeLwxNeRYryFHzncEuRlB
GSueQUcROoio0Va021I7sNOfrpTex5FJ9OzAyciL0D6HCin/W9Vd42fojjxb5mGX
TNgBpBLYDzb8rCUuQHsMM06kSbpEnNwV+h2KoKxF54eXNn0TnkAqQckWUyCYdLOC
K4xJkJTnwKs2k5x94HvssEsnTHgCqQR85jOSHBu6s/aciKXqdsKETOwhuRPPxpEy
KpvwBNJnIESJpwki0iSQCidKE8TSoDMk53fdwePv0Tg4iVSCUKkOPlYNCQ9ojIRd
aSxNxsn5u+Dk7BpGUaAD/kAqQdCh1SCM9HFUME6TxYem5wG5ODluDZ2YfTrwbYe0
GkcnkUrwtaletoJorYlzvo8MbVw8+GnJWBJ8yMQF7AeK2Id9t/ZV6sWXLtH8eK0Z
qMV6U9FPmF73QtpuKNpqhHpfb0b6HRv77twYq5nwBKBuOupH5t7kStYYtidZIq4a
iZBc0ffdkGr1kDZhPxrh0w9vv92ld0/M1JLgGfXG5ap1/FTm2rAvrxc9a8LHKeL7
Dpccd7WG6hdXKs2H9GwiNBEH0J/AYOTRl5GSL8/gaE5ySNBRH2t70XL16miqLP8S
iH4BAy/4T/rnvW8AAAAASUVORK5CYII=">
				</td>
				<td class="td_left">Увлажнение</td>
				<td class="td_right"></td>
				<td class="td_right"></td>
			{% endif %}
			{% if data_json.recycle > 0 %}
				<td class="td_left">Дробленка</td>
				<td class="td_left"><img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhk
iAAAAAlwSFlzAAAAtwAAALcBRi4NFgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3Nj
YXBlLm9yZ5vuPBoAAAOjSURBVEiJnZVvSJ11FMc/53eveRU3nY0L+2PmiBB6UYTO
SWMYvVl6Hav2B4qKls5FLQaZXt9olxhLI0Y5HY4VI4jG1ouaDpe9aLLIPxSL1UJy
U8LRYOb8t/Revc9zeuEeu/+eTTpw4HnO+Z7vOec55/d7RFVxk9dOFfgyI96XwH4S
EY9/bfaELz3twTiQyg2P2l/UVg6MpuIQtwQ1J4rSPDLVI0qZY/P5HvjTn7s6PwX8
lopdGqwYHEl0GLfqPTJdG0sOEA4v5Ect69cUcL9R07riDl7/rHCVLxq9AaxOcM37
c7N2+ny+C4AkBaqUh2Wx10faM/WBvk7XDj7dNzRr21IG/BwXD0ebdv3SA/JlympF
O3x4RxDNdmyun+j4geHL42uulwC1wBxwK+L1fgBgPKYRWExqAPJA72yae2i5ANch
x8rBk4UFlkYL26uvdTu25q6SdpA3kpNIdTDQd9J59zZ3lu5B9DlRzUEkWyGHJb1Z
HxgoAtXWqqFRYDSeiCuJQxAYC8/Pfh5nU1VaOre8rMJRIG7HjWrlu5UDXbG2s2f3
eEYyxhoUrRJYD6T9l0AP1gUGjiUlaO0uT5+zbl8HNiRUeSkY6N+W4qsBEAqJySwu
9lsWeYhsjGRldl8dv7jon9y0X5Hctv3XDi910FX6tqIfpyKxjWxpKO8bcEsSK291
PLrNFv1E0MeBOdumwBu6+LTPhwZT4BeBK8bSOuCFexG/2f5IHl4+RNgbM5dMMdSa
jDtz24F1SVFKW32gvwjsxlBIXNcZAI9uBfam8DxvFNmQwjGRbkVCAPWVg1ebmtRO
BLSc27rKeW6vGTktIoOJGEGNMdADWHEOpfHQzstTbgW3nC/doRKtcd4VVVus2kSc
CqecIR9X9MBSVvmtYD7vid27z1iJAQBHzpU+ZYx+B5xWY87E+qamZqqsqP0wgKU6
OanhSlFVPuoqWhvFOwzkjE/M/DUfWVi+BlTk1fbq4V6A5s7NjyHmErDGrTtHnDNk
AN4J/PQ38N5CNPr7fGRhPZDvqNiaAXD4m815iLmwEnLgW+eALm9HOCujbfz2zLRb
hMdrngU2roA8amMOLXfiPDSVfR+NWvb7blHBiv4TwFf3pVeONQR+HEpKAHD3tvza
LVZs7z7gj3vQ33TWO2UCgPR/Ii8CHcAYMC3o8sDrdvwwizG7WPo/hIHpuzqpaK/H
Znvieq/of5AozV0lr6iYdcGKvub7glX1f+mRruJNK8H9C4vzu83HRAGiAAAAAElF
TkSuQmCC"></td>
				<td class="td_left"></td>
				<td class="td_right"></td>
				<td class="td_right">{{data_json.recycle}}</td>
			{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td class="td_right">Общий вес:</td>
				<td class="td_right">{{data_json.total_weight}}</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
	{% else %}
	<div>
		<div class="product_main">
			<div style="font-size:130px;">
				{{data_json.nom}}
			</div>
			<div style="font-size:100px;"> 
				{{data_json.color}}
			</div>
		</div>
		<div class = "qr">
			<img src="data:image/jpeg;base64,{{data_json.barcode}}" width="150">
		</div>
	</div>
	<div>
		
	</div>

	{% endif %}

</body>

</html>