{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Задание</title>
        <link rel="stylesheet" href="{% static 'tpa/css/job.css' %}">
    </head>
    <body>
        <div class="stanok_head">
            <div class="stanok_main stanok_left">
                {{name}}
            </div>
            <div class="stanok_main stanok_right">
                №{{number}}
            </div>
        </div>
        <div>
            <div class="product_main">
                <div  style="font-size:130px;">
                    ЗАДАНИЕ НЕ ЗАПУЩЕНО
                </div>
                <div  style="font-size:100px;">
                    
                </div>
            </div>
            <div class = "qr">
                
            </div>
        </div>
    </body>
</html>
