{% extends 'tpa/layout.html' %}

{% block link %}

{% endblock %}

{% block title %}
Станок №{{ machine.id }}
{% endblock %}


{% block content %}

<div class="container-fluid">
 <h1>№{{ machine.id }} {{ machine.name }}</h1>

 <div class="mb-10">
    <form action="{% url 'tpa:machine_card' machine.id %}" method="post">
      {% csrf_token %}
      <div class="mb-3" style="width: 200px;">
        <label for="operation_time" class="form-label">Наработка, мин.</label>
        <input type="number" class="form-control" id="operation_time" name="operation_time" min="0" value={{machine.operation_time}}>
        <div class="form-text">Введите наработку станка в минутах</div>
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
  
</div>

<div class="container">
  <a href="{% url 'tpa:machine_last_data' machine.id %}" class="btn btn-warning">Последние данные</a>
  <a href="{% url 'tpa:machine_job' machine.id %}" class="btn btn-warning">Задание</a>
</div>

{% endblock %}