{% extends 'tpa/layout.html' %}

{% block link %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}

{% block title %}
Станок №{{ machine.id }}
{% endblock %}


{% block content %}

 <h1>№{{ machine.id }} {{ machine.name }}</h1>

 <div>
  <a href="{% url 'tpa:machine_last_data' machine.id %}" class="btn btn-warning">Последние данные</a>
  <a href="{% url 'tpa:machine_job' machine.id %}" class="btn btn-warning">Задание</a>
</div>

{% endblock %}