:root {
    --сol-width: 200px;
    --сol-width2: 410px;
  }

body {
    background: #747473;
}

.col-header{
    float: left;
    margin: auto;
    width: var(--сol-width);
    text-align: center;
}

.col-header2{
    float: left;
    margin: auto;
    width: var(--сol-width2);
    text-align: center;
}

.year-card{
    text-decoration: none;
    background-color: #DCDCDC;
    border: solid;
    border-width: 1px;
    border-color: #17a2b8;
    border-radius: 5px;
    padding: 2px;
    color: black;
    font-size: 22px;
    margin: 5px;
    display: block;
  }

.col-body{
    float: left;
    margin: auto;
    width: 200px;
    margin: 5px;
}

.card-main{
    width: var(--сol-width);	
    height: 50px;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
}

.body{
    float: left;
}

#type_pf_our{
    background: green;
 }
 
 #type_pf_partner{
     background: pink;
  }
 
 #type_pf_import{
     background: #0059ff;
  }