.page_name {
    text-align: left;
    margin-left: 15px;
}

.table {
    width: 100%;
}

.col_name_pressform {
    width: 100px;
}

.col_property_pressform {
    width: 25px;
}

.col_work_pressform {
    width: 45px;/*calc((100vw -175px) / var(--count-col-work));*/
    vertical-align: middle;
}

.col_work_progress {
    text-align: center;
    
}

.table th{
    --count-col-work: 40;
    font-size: x-small;
    text-align: center;
    word-break: break-all;
    padding: 0px;
}

.table td{
    font-size: x-small;
    vertical-align: middle;
}

.circle_color_green{
    background: radial-gradient(circle at bottom, #87A941, transparent);
}

.circle_color_blue{
    background: radial-gradient(circle at bottom, #3870B4, transparent);
}

.circle_color_red{
    background: radial-gradient(circle at bottom, #B33835, transparent);
}

.circle_color_yellow{
    background: radial-gradient(circle at bottom, #FFFF05, transparent);
}

.circle_color_grey{
    background: radial-gradient(circle at bottom, #c3c3bf, transparent);
}

.cell_progress{
    text-decoration: none;
    color: black;
}

.circle {
    width: 25px; /* поддерживаются любые единицы, в том числе проценты */
    height: 25px;
    border-radius: 50%;
    margin: 0px;
    padding: 5px;
}
