{% extends 'pressforms/layout.html' %}
{% load static %}

{% block title %}
Добавление
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'metalworks/css/card.css' %}">
{% endblock %}

{% block content %}
    <div class="main_head">
        <h3> Карточка детали </h3>
      </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="row">
                <label for="inputArticle" class="col-sm-2 col-form-label">Артикул</label>
                <div class="col-sm-2">{{form.article}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <label for="inputAssembly" class="col-sm-2 col-form-label">Сборка</label>
                <div class="col-sm-2">{{form.assembly}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <label for="inputName" class="col-sm-2 col-form-label">Наименование</label>
                <div class="col-sm-10">{{form.name}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <label for="inputFullName" class="col-sm-2 col-form-label">Полное наименование</label>
                <div class="col-sm-10">{{form.full_name}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <div class="col-sm-2">Шильда</div>
                <div class="col-sm-2 form-check">
                    <div for="inputShield"  class="col-sm-2">{{form.shield}}</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <label for="inputQuantity" class="col-sm-2 col-form-label">Количество, шт.</label>
                <div class="col-sm-2">{{form.quantity}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <label for="inputPartner" class="col-sm-2 col-form-label">Клиент</label>
                <div class="col-sm-2">{{form.partner}}</div>

                <label for="inputType" class="col-sm-2 col-form-label">Тип</label>
                <div class="col-sm-2">{{form.type}}</div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="row">
                <label for="inputDateStart" class="col-sm-2 col-form-label">Дата начала производства</label>
                <div class="col-sm-2">{{form.date_start}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <label for="inputDateFinish" class="col-sm-2 col-form-label">Дата производства</label>
                <div class="col-sm-2">{{form.date_finish}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <label for="inputStatus" class="col-form-label">Статус</label>
                <div class="col-sm-2">{{form.status}}</div>
            </div>
        </div>
        <span>{{ error }}</span>
        <br>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
{% endblock %}