{% extends 'pressforms/layout.html' %}
{% load static %}

{% block title %}
  Металлообработка (История)
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'metalworks/css/history.css' %}">
{% endblock %}

{% block content %}
<div class="body">
    {% if years %}
        <div class="my_table">
            <table class="table table-borderless">
                <thead>
                    <tr>

                    {% for current_year in years %}
                        <th colspan="2">
                            {{current_year.year}} год
                            <br> 
                            <div style="font-size: small;">Изготовлено {{current_year.dcount}} п/ф</div>
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for current_str in table_new %}
                      <tr>
                        {% for current_year in years %}
                            {% for list_dt in current_str.list %}
                                {% if current_year.year == list_dt.year %}
                                    {% if list_dt.type == 1 %}
                                        <td id="type_pf_our">
                                    {% elif list_dt.type == 2 %}
                                        <td id="type_pf_partner">
                                    {% elif list_dt.type == 3 %}
                                        <td id="type_pf_import">
                                    {% else %}
                                        <td>
                                    {% endif %}
                                    {{list_dt.name}}</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Данных нет
    {% endif %}
</div>
<div class="footer">
    <table class="footer-table">
      <tr>
        <td><div class="square footer-td" id="type_pf_our"></div></td>
        <td>Европартнер</td>
        <td><div class="square footer-td" id="type_pf_partner"></div></td>
        <td>Клиент</td>
        <td><div class="square footer-td" id="type_pf_import"></div></td>
        <td>Импорт</td>
      </tr>
    </table>  
</div>
{% endblock %}
