{% extends 'pressforms/layout.html' %}
{% load static %}

{% block title %}
Детали в производстве
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'metalworks/css/production.css' %}">
<script src="{% static 'metalworks/js/jquery.cookie.js' %}"></script>
{% endblock %}

{% block content %}
<script>0</script>
<div class="custom-cm">
  <div class="custom-cm-close" onclick="closeContextMenu()">Закрыть X</div>
  <div class="custom-cm__item" onclick="selectOperation(0)">
    <div class="marker background_grey"> </div>
    Пусто
  </div>
  <div class="custom-cm__item" onclick="selectOperation(1)">
    <div class="marker background_green"> </div>
    Выполнено
  </div>
  <div class="custom-cm__item" onclick="selectOperation(2)">
    <div class="marker background_blue"> </div>
    Не требует выполнения
  </div>
  <div class="custom-cm__item" onclick="selectOperation(3)">
    <div class="marker background_yellow"> </div>
    В работе
  </div>
  <div class="custom-cm__item" onclick="selectOperation(4)">
    <div class="marker background_red"> </div>
    Не выполнено
  </div>
  <div class="custom-cm__divider">

  </div>
  <div class="custom-cm__item">
    <label for="week">Неделя:</label>
    <input type="number" step="1" min="0" max="55" value="0" id="week" name="week" onchange="changeWeek()">
  </div>
  <div class="custom-cm__item">
    <label for="datepicker">Дата завершения:</label>
    <input type="text" id="date_finish" name="date_finish" style="width: 120px;" autocomplete="off"
      onchange="changeDateFinish()">
  </div>
</div>

<div class="body">
  <div class="my_table">
    <table class="table table-bordered">
      {% autoescape off %}
      <thead class="table-light">
        <tr>
          <th scope="col" class="col_name_client">Клиент</th>
          <th scope="col" class="col_property_detail">Шильда</th>
          <th scope="col" class="col_property_detail">№</th>
          <th scope="col" class="col_property_detail">Сборка</th>
          <th scope="col" class="col_name_pressform">Наименование</th>
          <th scope="col" class="col_property_detail">Кол-во<br>деталей<br>(шт.)</th>
          {% for el in works %}
            <th scope="col" class="col_work_detail">{{el.name}}</th>
          {% endfor %}
        </tr>
      </thead>
      {% endautoescape %}
      <tbody>
        {% for progress in list_progress %}
        <tr>
          {% if progress.dt.partner.code_1C == "00-00000011" %}
            <td id="type_dt_our" class="col_name_client">{{ progress.dt.partner }}</td>
          {% else %}
            <td id="type_dt_partner" class="col_name_client">{{ progress.dt.partner }}</td>
          {% endif %}
          {% if progress.dt.shield %}
            <td class="col_property_detail">V</td>
          {% else %}
            <td></td>
          {% endif %}
          <td class="col_property_detail">{{ forloop.counter }}</td>
          <td class="col_property_pressform">{{progress.dt.assembly}}</td>
          <td title="{{progress.dt.full_name}}">{{progress.dt.name}}</td>
          <td class="col_property_detail">{{ progress.dt.quantity }}</td>
          {% for el in progress.list_works %}
          <td class="col_work_progress" data-date_finish="{{el.date_finish}}" data-work-name="{{el.work.name}}"
            data-pressform-name="{{progress.dt.name}}" data-work-id="{{el.work.id}}" data-week="{{el.week}}"
            data-progress="{{el.progress}}" data-pressform-id="{{progress.dt.id}}">
            <div class="cell_progress" onclick="selectProgress(this)">
              {% if el.progress == 1 %}
                <div class="circle background_green">
              {% elif el.progress == 2 %}
                <div class="circle background_blue">
              {% elif el.progress == 3 %}
                <div class="circle background_yellow">
              {% elif el.progress == 4 %}
                <div class="circle background_red">
              {% else %}
                <div class="circle background_grey">
              {% endif %}
              {% if el.week_name != '0' %}
                {{el.week_name|linebreaksbr}}
              {% endif %}
              </div>
            </div>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="footer">
  <table class="footer-table">
    <tr>
      <td>
        <div class="square footer-td" id="type_dt_our"></div>
      </td>
      <td>Европартнер</td>
      <td>
        <div class="square footer-td" id="type_dt_partner"></div>
      </td>
      <td>Клиент</td>
      <td style="width: 50px;"></td>
      <td>
        <div class="circle background_blue footer-td"></div>
      </td>
      <td>Не требует выполнения</td>
      <td>
        <div class="circle background_yellow footer-td"></div>
      </td>
      <td>В работе</td>
      <td>
        <div class="circle background_red footer-td"></div>
      </td>
      <td>Не выполнено</td>
      <td>
        <div class="circle background_green footer-td"></div>
      </td>
      <td>Выполнено</td>
      <td style="width: 850px;"></td>
      <td><input type="input" id="hiddenField" class="datepicker" /></td>
    </tr>
  </table>
</div>

<script>
  var date_modified = getDateModified();
  const cm = document.querySelector('.custom-cm');
  var parent = null;

  // проверка на последние изменения, каждые 5 сек.
  setInterval(function () {
    last_modified = getDateModified();
    if (date_modified < last_modified) {
      updateWindow();
      date_modified = last_modified;
    }
  }, 5000);

  // обновление страницы
  function updateWindow(){
    window.location.reload();
  }

  // полчение даты последних изменений
  function getDateModified() {
    theUrl = window.location.protocol + "//" + window.location.host + "/metalworks/api/last_modified/";
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", theUrl, false);
    xmlHttp.send(null);
    responseText = xmlHttp.responseText;
    return Date.parse(JSON.parse(responseText)["date_modified"]);
  };

  // отображение календаря
  $("#hiddenField").datepicker({
    showOn: "button",
    buttonText: "Календарь",
    showWeek: true,
    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
    dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
    firstDay: 1,
    todayHighlight: 'true',
    weekHeader: '',
  });

  // Док загружен, восстановим текущий скролл из куки
  $(document).ready(function () {
    if ($.cookie("scroll") !== null) {
      $(".my_table").scrollTop($.cookie("scroll"));
    }
  });

  // Сохраняем показания scroll в куки
  window.onbeforeunload = function () {
    $.cookie("scroll", $(".my_table").scrollTop());
  };

  // Сохранение данных
  function selectOperation(value) {
    // установим значение операции
    cm.setAttribute('data-progress', value);
    // получим значения из атрибутов
    pressform_id = cm.getAttribute('data-pressform-id');
    work_id = cm.getAttribute('data-work-id');
    oper = cm.getAttribute('data-progress');
    week = cm.getAttribute('data-week');
    date_finish = cm.getAttribute('data-date_finish');
    
    showContextMenu(false);
    // отправим запрос
    fetch("{% url 'metalworks:operation' %}", {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        pressform_id: pressform_id,
        work_id: work_id,
        oper: oper,
        week: week,
        date_finish: date_finish
      })
    });
    
    updateWindow();
  };

  // Отобразить / спрятать меню
  function showContextMenu(show = true) {
    cm.style.display = show ? 'block' : 'none';
    if (show){
      if (parent != null) parent.style.background = '#ff0000';
    }
    else
    {
      if (parent != null) parent.style.background = '#747473';
    }
  };
  
  // Закрывает меню, по кнопке Закрыть
  function closeContextMenu() {
    showContextMenu(false);
  }

  // Событие установка недели
  function changeWeek() {
    week = document.getElementById('week').value;
    cm.setAttribute('data-week', week);
  };

  // Событие установка дата окончания
  function changeDateFinish() {
    date_finish = document.getElementById('date_finish').value;
    cm.setAttribute('data-date_finish', date_finish);
  };

  // Событие - показать меню операции
  function selectProgress(event) {
    
    showContextMenu(false);

    var e = window.event; // событие
    var el = e.target; // элемент
    parent = el.offsetParent; // родительский элемент
    
    // заполнение переменных
    cm.setAttribute('data-work-id', parent.getAttribute('data-work-id'));
    cm.setAttribute('data-pressform-id', parent.getAttribute('data-pressform-id'));
    cm.setAttribute('data-work-name', parent.getAttribute('data-work-name'));
    cm.setAttribute('data-pressform-name', parent.getAttribute('data-pressform-name'));
    cm.setAttribute('data-week', parent.getAttribute('data-week'));
    cm.setAttribute('data-date_finish', parent.getAttribute('data-date_finish'));
    cm.setAttribute('data-progress', parent.getAttribute('data-progress'));

    // заполним неделю
    document.getElementById('week').value = parent.getAttribute('data-week');

    // заполним дату выполнения
    document.getElementById('date_finish').value = parent.getAttribute('data-date_finish');

    e.preventDefault();
    showContextMenu();

    let x = e.x, y = e.clientY,
      winWidth = window.innerWidth,
      winHeight = window.innerHeight,
      cmWidth = cm.offsetWidth,
      cmHeight = cm.offsetHeight;

    x = x > winWidth - cmWidth ? x - 250 : x;
    y = y > winHeight - cmHeight ? winHeight - cmHeight : y;

    cm.style.left = x + 'px';
    cm.style.top = y + 'px';
  }

  // Календарь - выборк даты окончания
  $(function () {
    $('#date_finish').datepicker({
      showWeek: true,
      monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
      firstDay: 1,
      todayHighlight: 'true',
      weekHeader: '',
      dateFormat: "dd.mm.yy",
    });
  });

</script>

{% endblock %}
