{% if list_progress %}
    {% for progress in list_progress %}
        <tr>
          {% if progress.dt.partner.code_1C == "00-00000011" %}
            <td id="type_dt_our" class="col_name_client">{{ progress.dt.partner }}</td>
          {% else %}
            <td id="type_dt_partner" class="col_name_client">{{ progress.dt.partner }}</td>
          {% endif %}
          {% if progress.dt.shield %}
            <td class="col_property_detail">V</td>
          {% else %}
            <td></td>
          {% endif %}
          <td class="col_property_detail">{{ forloop.counter }}</td>
          <td class="col_property_pressform">{{progress.dt.assembly}}</td>
          <td title="{{progress.dt.full_name}}">{{progress.dt.name}}</td>
          <td class="col_property_detail">{{ progress.dt.quantity }}</td>
          {% for el in progress.list_works %}
          <td class="col_work_progress" data-date_finish="{{el.date_finish}}" data-work-name="{{el.work.name}}"
            data-pressform-name="{{progress.dt.name}}" data-work-id="{{el.work.id}}" data-week="{{el.week}}"
            data-progress="{{el.progress}}" data-pressform-id="{{progress.dt.id}}">
            <div class="cell_progress" onclick="selectProgress(this)">
              {% if el.progress == 1 %}
                <div class="circle background_green">
              {% elif el.progress == 2 %}
                <div class="circle background_blue">
              {% elif el.progress == 3 %}
                <div class="circle background_yellow">
              {% elif el.progress == 4 %}
                <div class="circle background_red">
              {% else %}
                <div class="circle background_grey">
              {% endif %}
              {% if el.week_name != '0' %}
                {{el.week_name|linebreaksbr}}
              {% endif %}
              </div>
            </div>
          </td>
          {% endfor %}
        </tr>
    {% endfor %}
{% else %}
        {
          <tr>
            <td>ДАННЫХ НЕТ</td>
          </tr>
        }
{% endif %} 